.navbar {
  background-color: white !important;
}
.emptycart img {
  width: 250px;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 100px;
}
.logo {
  text-shadow: none;
}
.emptycart p,
.search_rt {
  width: 250px;
  display: block;
  margin: auto;
  font-family: lato;
  font-size: 22px;
  font-weight: 600;
}
.search_rt {
  margin-top: 10px;
  width: 300px;
  background-color: rgb(230, 113, 71);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  height: 40px;
}
.search_rt:hover {
  background-color: rgb(194, 82, 41);
  transition: 250ms ease-in-out;
}
.delivery {
  margin: 100px 0 0 75px;
}
.acc-head {
  font-size: 36px;
  font-weight: 700;
  font-family: monospace;
}
.meta {
  color: grey;
  font-size: 16px;
  font-weight: 550;
  margin-top: -30px;
  font-family: lato;
}
.btn-login button {
  background-color: rgb(230, 113, 71);
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  color: white;
  font-family: lato;
  font-weight: 550;
  cursor: pointer;
  margin-bottom: 25px;
}
.btn-login button:hover {
  background-color: rgb(194, 82, 41);
  font-size: 20px;
  transform: scale(1);
  transition: 250ms ease-in-out;
}
.unlink {
  color: grey;
}
.unlink-bg {
  background-color: grey !important;
}
.loc-marker {
  display: flex;
  height: 150px;
  font-size: 18px;
  flex-direction: column;
  justify-content: space-between;
}
.loc1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.open-button {
  transition: 500ms ease !important;
}
.form-popup {
  display: none;
  bottom: 0;
  font-family: lato;
  right: 15px;
  border-radius: 10px;
  font-size: 18px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: rgba(80, 197, 54, 0.35);
  width: 25%;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  padding-left: 15px;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="tel"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  font-size: 15px;
  background: rgba(230, 113, 71, 0.8);
  border-radius: 5px;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus,
.form-container input[type="tel"]:focus {
  background-color: rgba(230, 113, 71, 1);
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  transition: 500ms ease !important;
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
  font-size: 20px;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
